<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class="todo-container">
    <h1>Todo list for <%= user.userName %> </h1>
    
    <ul >
    <% todos.forEach( el => { %>
            <li class='todoItem todo-list-item' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <input type="date" class='date' name="todo-date-display" value='<%= el.date%>' min="2022-07-31" max="2025-12-31">
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>



<section class="addItems">
    <form action="/todos/createTodo" method='POST'>
        <span>Add item</span>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <span>Due Date:</span>
        <input type="date" name="todoDate" min="2022-07-31" max="2025-12-31">
        <input type="submit">
        
    </form>
</section>
</section>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>